.about-container {
  @media (min-height: 700px), (min-width: 950px) {
    scroll-snap-align: start;
  }

  @include at950px {
    scroll-snap-align: center;
    min-height: 700px;
    height: 100vh;
    display: flex;
    align-items: center;
  }

  .about {
    @include at950px {
      height: 35vw;
      margin: 0 auto;
      display: flex;
      align-items: center;
    }

    @media (min-width: 1200px) {
      width: 85vw;
      height: 428px;
    }

    @media (min-width: 1500px) {
      width: 80vw;
    }

    @media (min-width: 1800px) {
      width: 75vw;
    }

    .left,
    .right {
      display: flex;
      flex-direction: column;
      justify-content: center;

      @include at950px {
        flex-basis: 50%;
      }
    }

    .left {
      height: 428px;
      justify-content: space-between;
      text-align: center;
      line-height: 30px;
      margin-bottom: 3rem;
      font-size: 0.8rem;

      @include at500px {
        font-size: 1rem;
      }

      @include at950px {
        height: 100%;
        font-size: 1.5vw;
        text-align: start;
        padding-right: 2rem;
        margin-bottom: 0;
      }

      @media (min-width: 1200px) {
        height: 428px;
        font-size: 1.25vw;
      }

      @media (min-width: 1500px) {
        font-size: 1.1vw;
      }

      @media (min-width: 1800px) {
        font-size: 0.9vw;
      }

      .title {
        text-align: center;

        @include at950px {
          text-align: start;
        }
      }

      .skills {
        font-size: 0.85em;

        p {
          width: 85%;
          max-width: 500px;
          margin: 0 auto;

          @include at950px {
            max-width: 650px;
            margin: 0;
          }
        }
        p:nth-child(2) {
          margin-bottom: 1rem;
        }
      }
    }

    .right {
      width: auto;
      height: 50vh;
      margin: 0 auto;
      justify-content: center;
      align-items: center;
      border: 1px solid rgba(0, 0, 0, 0.144);
      border-radius: 20px;

      @include at500px {
        width: 450px;
        margin: 0 auto;
      }

      @include at950px {
        height: 428px;
        height: 100%;
      }
    }
  }
}
