.project-container {
  min-height: 700px;
  height: 100vh;
  display: flex;
  align-items: center;
  margin-bottom: 2rem;

  @include at800px {
    margin-bottom: 0;
  }
}

.project {
  width: 100%;
  height: 100vh;
  max-height: 600px;

  @include at800px {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 430px;
  }

  &__img,
  &__desc {
    height: 50%;

    @include at800px {
      width: 100%;
      height: 100%;
      flex-basis: 50%;
    }
  }

  &__img {
    overflow: hidden;
    border: 1px solid rgba(0, 0, 0, 0.144);
    border-radius: 20px;

    a {
      video {
        width: 100%;
        height: 100%;
        transition: transform 0.1s linear;

        &:hover {
          transform: scale(1.05);
        }
      }
    }
  }

  &__desc {
    * {
      text-align: center;
    }

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 1.2rem;
    font-size: 0.8rem;

    @include at500px {
      font-size: 1rem;
    }

    @include at1000px {
      font-size: 1.15rem;
    }

    .title {
      font-size: 1.2rem;
      margin-top: 20px;

      @include at500px {
        font-size: 1.5rem;
      }

      @include at800px {
        font-size: 1.8rem;
      }
    }

    .desc {
      width: 100%;
      max-width: 500px;

      line-height: 1.35rem;

      @include at500px {
        width: 90%;
        line-height: 2rem;
      }

      @include at800px {
        width: 85%;
      }
    }

    .code-info {
      .source-code {
        margin-top: 0.5rem;

        a {
          display: flex;
          align-items: center;
          justify-content: center;

          .gh-icon {
            width: 13px;
            margin-left: 0.3rem;

            @include at500px {
              width: 15px;
            }
          }
        }
      }
    }
  }
}
